<html>
<head>
    <link href="/styles/style.css" rel="stylesheet">
</head>

<body>
<style>
    #left {
        float: left;
        clear: both;
    }

   /* body {
        !*background-image:url("background/deadpool.jpg");*!
        background-color: wheat;
    }*/

    #right {
        text-align: center; /* Выравниваем по центру */
        clear: both;

    }

</style>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div id="left">
        <div>
            <span>{{username}}</span>
            <i>{{firstName}}</i>
            <i>{{lastName}}</i>
            <i>{{createdAt}}</i>
        </div>
</div>

</body>
</html>